.homeAbout{
    width: 99%;
    height: 400px;
    margin: 2px;
    border: 1px solid red;
}
  
/* unvisited */
a:link {
color: #FF0000;
}

/* visited */
a:visited {
color: #00FF00;
}

/* mouse over */
a:hover {
color: #FF00FF;
}

/* selected */
  a:active {
    color: #0000FF;
}